<div class="mb-4">
  <%= form_with model: [@post, @post_comment], local: true, class: "d-flex flex-column align-items-end" do |f| %>
    <div class="form-group w-100">
      <%= f.text_area :comment, rows: '5', placeholder: "最高の試合でしたね！自分も現地で熱狂して、全試合が終わった後もしばらく立てませんでした", class: "form-control" %>
    </div>
    <%= f.submit "送信", class: "btn btn-primary mt-2" %>
  <% end %>
</div>