<div class="container px-5 px-sm-0 my-4">
  <div class="row">
    <!-- 左側: ユーザー情報 -->
    <% if user_signed_in? %>
    <div class="col-md-3">
      <%= render "users/userinfo", user: @user %>
    </div>
    <% end %>

    <!-- 右側: 投稿一覧 -->
    <div class="col-md-8 offset-md-1">
      <h2 class="mb-4">投稿されたレビュー</h2>
      <table class="table table-hover table-bordered shadow-sm">
        <thead class="table-light">
          <tr>
            <th scope="col">タイトル</th>
            <th scope="col">本文</th>
            <th scope="col">タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <strong><%= link_to post.title, post_path(post.id), class: "text-decoration-none fw-bold" %></strong>
              </td>
              <td><strong><%= truncate(post.body, length: 40) %></strong></td>
              <td><%= post.category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
