<div class="container">
  <div class="text-center">
    <h1 class="px-3 mx-auto">
      <i class="fa-regular fa-handshake"></i> ホメノワにようこそ！ <i class="fa-regular fa-handshake"></i>
    </h1>
    <h2>ホメノワについて</h2>
    <p>
      <strong>ホメノワは、プロレスファンのために作られたレビュー共有プラットフォームです！</strong><br>
      会員は感動した試合や熱狂したイベントについて、管理人チェックを通した<strong>「ポジティブな」レビュー</strong>だけを投稿できます。<br>
      <em>（性質上、投稿から公開までにお時間いただきますが、のんびりとお待ちください。）</em>
    </p>
    <p>
      多種多様な意見が溢れるSNSや掲示板に疲れてしまった方、<br>
      <strong>「ポジティブな意見だけを見て、気持ちよく楽しみたい！」</strong>という方にオススメのサービスです。<br>
    </p>
    <p>
      <strong>プロレスに情熱を持つ皆さんで、最高の試合や選手への思いを共有し合いましょう！</strong>
    </p>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-6 col-12 text-center">
      <%= image_tag 'Homenowa.png', alt: 'Homenowa Logo', class: 'img-fluid', style: 'max-width: 100%; height: auto; width: 80%;' %>
    </div>
  </div>
</div>