<div class="container">
  <div class="row">
    <div style="text-align: center">
      <h1 class="px-3 mx-auto"><i class="fa-regular fa-handshake"></i>ホメノワにようこそ！<i class="fa-regular fa-handshake"></i></h1>
      <h2>ホメノワについて</h2>
      <p>ホメノワは、プロレス・演劇・映画など、貴方が触れたエンタメのレビューを共有するためにプラットフォームです！<br>
      会員は好きな作品や感動した試合について、管理人チェックを通した「ポジティブな」レビューだけが投稿されるシステムとなっています（性質上、投稿から公開までにお時間いただきますがのんびりとお待ちください）。<br>
      多種多様な意見が溢れるSNSや掲示板に疲れてしまって、ポジティブな意見だけ目にしたいと思った方にオススメです。</p>
    </div>
  </div>
</div>
