<div class="container">
  <div class="row">
    <div style="text-align: center">
      <h1 class="px-3 mx-auto"><i class="fa-regular fa-handshake"></i> ホメノワにようこそ！ <i class="fa-regular fa-handshake"></i></h1>
      <h2>ホメノワについて</h2>
      <p>
        ホメノワは、<strong>プロレス・演劇・映画など、貴方が触れたエンタメのレビューを共有するためのプラットフォームです！</strong><br>
        会員は好きな作品や感動した試合について、管理人チェックを通した「ポジティブな」レビューだけが投稿されるシステムとなっています<br>
        （性質上、投稿から公開までにお時間いただきますがのんびりとお待ちください）。<br>
        多種多様な意見が溢れるSNSや掲示板に疲れてしまって、<strong>「ポジティブな意見だけ見ていたい！」</strong>と思った方にオススメです。
      </p>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col-md-3 col-6 mb-4">
      <%= image_tag 'audience_penlight.png', size: "250x250" %>
    </div>
    <div class="col-md-3 col-6 mb-4">
      <%= image_tag 'engeki.png', size: "250x250" %>
    </div>
    <div class="col-md-3 col-6 mb-4">
      <%= image_tag 'kandou_movie_happy.png', size: "250x250" %>
    </div>
    <div class="col-md-3 col-6 mb-4">
      <%= image_tag 'pro_wrestler_backdrop.png', size: "250x250" %>
    </div>
  </div>
</div>
